@reference "../index.css";

.fab {
  @layer daisyui.l1.l2.l3 {
    @apply pointer-events-none fixed end-4 bottom-4 z-999 flex flex-col-reverse items-end gap-2 text-sm whitespace-nowrap;
    > * {
      grid-area: 1/1;
      @apply pointer-events-auto flex items-center gap-2;
      &:hover,
      &:has(:focus-visible) {
        @apply z-1;
      }
    }
    > [tabindex] {
      &:first-child {
        @apply relative grid;
        transition-property: opacity, visibility, rotate;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
    .fab-close {
      @apply absolute end-0 bottom-0;
    }
    .fab-main-action {
      @apply absolute end-0 bottom-0;
    }
    &.open {
      &:has(.fab-close),
      &:has(.fab-main-action) {
        > [tabindex] {
          @apply rotate-90 opacity-0;
        }
      }
    }
    > :nth-child(n + 2) {
      @apply invisible scale-80 opacity-0;
      transition-property: opacity, scale, visibility;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &.fab-main-action,
      &.fab-close {
        @apply scale-100 z-1000;
      }
    }
    > :nth-child(3) {
      transition-delay: 30ms;
    }
    > :nth-child(4) {
      transition-delay: 30ms;
    }
    > :nth-child(5) {
      transition-delay: 30ms;
    }
    > :nth-child(6) {
      transition-delay: 60ms;
    }
    > :nth-child(7) {
      transition-delay: 60ms;
    }
    > :nth-child(8) {
      transition-delay: 60ms;
    }
    > :nth-child(9) {
      transition-delay: 60ms;
    }
    > :nth-child(10) {
      transition-delay: 60ms;
    }
    > :nth-child(11) {
      transition-delay: 90ms;
    }
    > :nth-child(12) {
      transition-delay: 90ms;
    }
    > :nth-child(13) {
      transition-delay: 90ms;
    }
    > :nth-child(14) {
      transition-delay: 90ms;
    }
    > :nth-child(15) {
      transition-delay: 90ms;
    }
    > :nth-child(16) {
      transition-delay: 90ms;
    }
    > :nth-child(17) {
      transition-delay: 90ms;
    }
    > :nth-child(18) {
      transition-delay: 100ms;
    }
    > :nth-child(19) {
      transition-delay: 100ms;
    }
    > :nth-child(20) {
      transition-delay: 100ms;
    }
    > :nth-child(21) {
      transition-delay: 100ms;
    }
    > :nth-child(22) {
      transition-delay: 100ms;
    }
    &.open {
      > [tabindex]:first-child {
        @apply pointer-events-none;
      }
      > :nth-child(n + 2) {
        @apply visible scale-100 opacity-100;
      }
    }
  }
}
.fab-dahlia {
  @layer daisyui.l1.l2.l3 {
    @apply grid;
    --position: 140%;
    > *:nth-child(-n + 2) {
      --position: 0rem;
    }
    > * {
      grid-area: 1/1;
      --length: calc(3 + var(--row) * 2);
      --degree: calc((180 - 90/(var(--length) - 1) * var(--index)) * 1deg);
      --flip-degree: calc(180deg - var(--degree));
      --total-position: calc(130% * var(--row) + var(--position));
      transform: translateX(calc(cos(var(--degree)) * var(--total-position)))
        translateY(calc(sin(var(--degree)) * -1 * var(--total-position)));
      [dir="rtl"] & {
        transform: translateX(calc(cos(var(--flip-degree)) * var(--total-position)))
          translateY(calc(sin(var(--flip-degree)) * -1 * var(--total-position)));
      }
    }
    > :nth-child(n + 25) {
      @apply hidden;
    }
    > :nth-child(3) {
      --index: 0;
      --row: 0;
    }
    > :nth-child(4) {
      --index: 1;
      --row: 0;
    }
    > :nth-child(5) {
      --index: 2;
      --row: 0;
    }
    > :nth-child(6) {
      --index: 0;
      --row: 1;
    }
    > :nth-child(7) {
      --index: 1;
      --row: 1;
    }
    > :nth-child(8) {
      --index: 2;
      --row: 1;
    }
    > :nth-child(9) {
      --index: 3;
      --row: 1;
    }
    > :nth-child(10) {
      --index: 4;
      --row: 1;
    }
    > :nth-child(11) {
      --index: 0;
      --row: 2;
    }
    > :nth-child(12) {
      --index: 1;
      --row: 2;
    }
    > :nth-child(13) {
      --index: 2;
      --row: 2;
    }
    > :nth-child(14) {
      --index: 3;
      --row: 2;
    }
    > :nth-child(15) {
      --index: 4;
      --row: 2;
    }
    > :nth-child(16) {
      --index: 5;
      --row: 2;
    }
    > :nth-child(17) {
      --index: 6;
      --row: 2;
    }
    > :nth-child(18) {
      --index: 0;
      --row: 3;
    }
    > :nth-child(19) {
      --index: 1;
      --row: 3;
    }
    > :nth-child(20) {
      --index: 2;
      --row: 3;
    }
    > :nth-child(21) {
      --index: 5;
      --row: 3;
    }
    > :nth-child(22) {
      --index: 6;
      --row: 3;
    }
    > :nth-child(23) {
      --index: 7;
      --row: 3;
    }
    > :nth-child(24) {
      --index: 8;
      --row: 3;
    }
  }
}